.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.SlidingPuzzle_main_container {
  display: flex;
  flex-wrap: wrap;
  border: #000;
  position: relative;
  height: 42vh;
  width: 42vh;
  background-color: #eee;
}

.mask {
  height: 42vh;
  width: 42vh;
  position: absolute;
  background-color: #000;
  opacity: 0.1;
}
.mask-active {
  height: 0px;
  width: 0px;
}

.cell {
  box-sizing: border-box;
  border:1px solid #000;
  height: 14vh;
  width: 14vh;
}

img {
  max-width: 14vh;
}

.low_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.sliding_puzzle_scoreBoard {
  margin-bottom: 6px;
}