.main_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  border: #000 blanchedalmond;
  background-color: yellow;
}

.SlidingPuzzle_main_container {
  height: 360px;
  width: 360px;
}

.cell {
  border:1px solid #000;
  height: 118px;
  width: 118px;
  background-color: #eee;
}

img {
  max-width: 118px;
}

.low_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}