.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.upper_container {
  display: flex;
  flex-direction: row;
  border: #000;
  max-width: 600px;
  width: 80%;
  height: 50px;
}

.WordGuess_input {
  font-size:medium;
  height:60%;
  width: 60%;
}

.chip{
  box-sizing: border-box;
  border:1px solid #000;
  height: 50px;
  width: 8.3333%;
  background-color: #439CEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.word_guess_scoreboard {
  margin-bottom: 6px;
}