* {
  margin: 0;
  padding: 0;
}

.log {
  margin: 15px;
}

.button {
  margin:10px;
  padding: 8px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #fff;
}

.button:hover {
  background-color: #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #439CEF;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  background-color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SlidingPuzzle_container {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 360px;
  background-color: #eee;
  border: #000 blanchedalmond;
}

.Cell {
  height: 120px;
  width: 120px;
  background-color: red;
}




.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ccc;
}
